:root {
  --cyan:rgb(0, 204, 255);
  --black:black;
  --white:white;
  --blue:rgb(0, 89, 255);
  --red:rgb(255, 60, 0);
  --win:rgb(138, 255, 206);
  --lose:rgb(255, 109, 109);
  --green:rgb(37, 238, 37);
}